body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: sans-serif;
}
.topbar {
	width: 100%;
	background: #2d3142;
}
.intopbar {
	width: 65%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.intopbar h1 {
	color: #fff;
	margin: 0px;
	padding: 20px;
	font-size: 23pt;
	text-decoration: none;
}
.title a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	border: none;
}
.container {
	width: 100%;
}
.incontainer {
 	width: 65%;
 	margin: 0 auto;
 }
.nav {
	width: 100%;
	padding: 4px;
	margin: 10px 0;
	text-align: center;
	background: #4f5d75;
	color: #ffffff;
	font-size: 18pt;
	text-decoration: none;
	display: block
}
.searchbox {
	width: 65%;
	margin: 0 auto;
	padding: 30px 0px;
}
.wrapcheckboxes {
	width: 110px;
	margin: 0 auto;
	display: block;
}
/* Trying to make change the cursor when user hovers over checkbox 
.searchbox input:hover {
	cursor: pointer;
} */
.gridwrap {
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	padding: 30px;
	box-sizing: border-box;
	grid-gap: 30px;
}
.card {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.content {
	padding: 15px;
	box-sizing: border-box;
}
/*

This css is for the add.html page

 */

