body {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: sans-serif;
}
.topbar {
	width: 100%;
	background: #333;
}
.intopbar {
	width: 65%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.intopbar h1 {
	color: #fff;
	margin: 0;
	padding: 20px;
	font-size: 23pt;
}
.container {
	width: 100%;
}
.incontainer {
 	width: 65%;
 	margin: 0 auto;
 }
.addlink {
	width: 100%;
}
.searchbox {
	width: 65%;
	margin: 0 auto;
	padding: 30px 0px;
}
.gridwrap {
	display: grid;
	justify-content: center;
	grid-template-columns: auto auto auto;
	padding: 30px;
	box-sizing: border-box;
	grid-gap: 30px;
}
.card {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.content {
	padding: 15px;
	box-sizing: border-box;
}
/*

This css is for the add.html page

 */

